.pagination {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-self: center;
    align-items: center;
}

.page {
    padding: 5px 10px;
    border: 1px solid var(--primary);
    cursor: pointer;
    border-radius: 5px;
    color: var(--primary)
}


.disabled {
    border-color: var(--gray);
    color: var(--gray);
    cursor: default;
}

.page:hover:not(.current, .disabled) {
    border-color: var(--primary-hover);
}

.current {
    border: 2px solid var(--red);
    color: var(--red) !important;
    font-weight: bold;
}

