.form {
	display: grid;
	grid-auto-rows: auto;
	align-items: center;
	gap: 25px;
	width: 50%;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.5);
	padding: 20px 40px;
	margin-bottom: 20px;
}

.title {
	margin: 0;
}

.file input {
	cursor: pointer;
	box-shadow: none;
	padding: 0;
}

.agree label {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: 10px;
	align-items: center;
}
.agree input {
	width: 20px;
	height: 20px;
	box-shadow: none;
}

.agree h3 {
	user-select: none;
	cursor: pointer;
}