.card {
	display: grid;
	grid-template-rows: max-content max-content max-content;
	justify-items: center;
	gap: 5px;
	padding: 10px;
	box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.5);
	border-radius: 10px;

	background: var(--white);

	width: 300px;

	user-select: none;
}

.card:hover {
	transform: scale(1.01);
	transition: all 0.4s;
}

.title {
	margin-top: 0;
}


