.card {
	position: relative;
	display: grid;
	grid-template-rows: max-content max-content max-content;
	justify-items: center;
	gap: 5px;
	padding: 10px;
	box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.5);
	border-radius: 10px;

	background: var(--white);

	width: 300px;

	user-select: none;
}

.card:hover {
	transform: scale(1.01);
	transition: all 0.4s;
}

.title {
	margin-top: 0;
}

.card:hover .buttonWrapper{
	transition: all 0.3s;
	backdrop-filter: blur(8px)
	
}
.card:hover .button {
	transition: all 0.7s;
	opacity: 1;
}

.buttonWrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 10px;
}

.button {
	font-weight: bold;
	border-radius: 10px;
	background-color: var(--white);
	opacity: 0;
}

