.header {
	background-color: gainsboro;
	padding: 1% 2%;

	box-shadow: 1px 1px 5px 4px rgba(0, 0, 0, 0.4);

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
}


.navbar:first-child {
	color: blue;
	margin-right: auto;
}


@media screen and (max-width: 585px) {
	.header {
		justify-content: center;
	}
}