* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  gap: 20px;


}

:root {
  --black: #3B434E;
  --gray-light: #EBEBEB;
  --gray: #A4A4A4;
  --gray-dark: #6C7077;
  --white: white;
  --primary: #7351F5;
  --primary-hover: #3B0DF3;
  --red: #FC836D;
  --red-light: #FEA291;
  --green: #007B48;
  --green-light: #C8F8E4;
}