.menu {
	display: flex;
	gap: 20px;
}

.link {
	font-size: large;
	line-height: 26px;
	font-weight: 500;
	color: var(--black);
	flex-grow: 1;
	transition: all 0.3s;

	text-transform: capitalize;
}

.link:hover {
	color: var(--primary-hover);
}

.activeLink {
	color: var(--primary);
}
