.menu {
	display: flex;
	gap: 20px;
}

.link {
	font-size: large;
	line-height: 26px;
	font-weight: 500;
	color: black;
	flex-grow: 1;
	transform: scale(1);
	transition: all 0.3s;
}

.link:hover {
	transform: scale(1.1);
}

.activeLink {
	color: red;
}
