.button {
	display: inline-block;

	padding: 10px;

	cursor: pointer;
	transition: all 0.4;
	text-align: center;

	border: none;
	border-radius: 20px;

	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.5);
	font-size: 14px;
}

.primary {
	color: var(--white);
	background-color: var(--primary);
}

.primary:hover {
	background-color: var(--primary-hover);
}

.ghost {
	color: var(--black);
	border: 1px solid var(--gray-light);
	background: none;
}

.ghost:hover {
	color: var(--white);
	background-color: var(--primary);
}

.button:disabled,
.button:disabled:hover {
	background-color: var(--gray);
	box-shadow: none;
	cursor: auto;
}




